ul, li {
    list-style: none;
}

li {
    display: inline
}

a {
    text-decoration: none;
    color: #101d37;
}
html {
    position: relative;
    min-height: 100%;
}
body {
    margin: 0;
    padding-bottom: 100px;
}

.header {
    background: #212529;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

.nav-item a {
    color: white!important;
    font-weight: bold;
    font-size: 16px;
}

.nav-item a:hover {
    color: #0dcaf0!important;
}


/*=================================*/
.filter {
    background: #f5f5f6;
    padding-bottom: 10px;
}

.search_filter {
    padding-top: 30px;
    margin-bottom: 30px;
}

.search_filter .search_wrap {
    /*display: inline-block;*/
    display: flex;
    align-items: center;
    width: 710px;
    /*line-height: 48px;*/
    font-size: 14px;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 1px 2px 1px rgba(0, 0, 0, 0.18);
}

.search_wrap input {
    width: 650px;
    padding: 16px 23px 17px;
    box-sizing: border-box;
    border-width: 0;
    font-size: 14px;
    outline: none;
    border-radius: 5px;
}

.search_wrap button {
    width: 30px;
    height: 30px;
    border: none;
    cursor: pointer;
    background: url("../imgs/search.png") no-repeat;
    background-size: contain;
}

.filer_ul {
    position: relative;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 0;
}


.by_city .strong {
    font-size: 14px;
}

.by_district .strong {
    font-size: 13px;
}

.strong a {
    color: #52ae66;
    font-weight: 600;
}


.filer_ul li {
    margin-right: 15px;
    font-size: 13px;
}

.filter_type {
    font-size: 15px;
    font-weight: bold;
}


/*===============================*/
.house_info {
    position: relative;
    height: 200px;
    margin: 0 auto 20px;
}

.cover {
    position: absolute;
    width: 300px;
    left: 0;
    top: 15px;
}

.cover img {
    max-width: 100%;
    border-radius: 8px;
    height: 200px;
}

.general_info {
    position: absolute;
    width: 740px;
    left: 340px;
    top: 15px;
}

.general_info a {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.general_info a:hover {
    color: #52ae66;
}

.general_info p {
    margin-bottom: 13px;
}

.general_info i {
    font-weight: 400;
    color: #ccc;
    margin-left: 8px;
    margin-right: 8px;
}

.general_info .info_title {
    font-size: 20px;
    font-weight: 700;
    color: #101d37;
}

.general_info .info_des {
    font-size: 15px;
    font-weight: 600;
    color: #6d6d73;
}

.general_info .info_facility {
    font-size: 14px;
}

.info_facility span {
    padding: 3px 8px;
    color: #a19aae;
    background: #f2f5f7;
    margin-right: 10px;
}

.general_info .info_floor {
    color: #6d6d73;
}


.general_info .info_price {
    color: #fa5741;
    font-size: 14px;
    font-weight: bold;
}

.info_price .price {
    font-size: 24px;
    font-family: "Tahoma", sans-serif
}

.content .wrapper > nav {
    margin-top: 80px;
}


/*==========================*/

.pagination {
    padding-bottom: 50px;
}
/*=========================*/
.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    font-size: 12px;
    background-color: #222222;
}

.footer ul, .footer li {
    float: left;
    color: #fff;
    font-size: 14px;
}

.footer ul {
    padding-left: 0;
    margin-top: 35px;
    margin-bottom: 0;
}

.footer li {
    margin-right: 20px;
    border-bottom: 1px rgba(204, 204, 204, 0.25) solid;
}