{% load static %}
{% load custom_filters %}
<!doctype html>
<html lang="zh_CN">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'plugins/bootstrap-5.0.2-dist/css/bootstrap.css' %}">
    <script type="text/javascript" src="{% static 'plugins/bootstrap-5.0.2-dist/js/bootstrap.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/house_list.css' %}">
    <script type="text/javascript" src="{% static 'js/house_list.js' %}"></script>
    <title>房源列表</title>
</head>

<body>
<div class="header">
    <div class="wrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#"><img src="{% static 'imgs/logo1.png' %}" alt=""></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false"
                        aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/index">首页</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/house/list">房源列表</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">添加房源</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
</div>
<div class="content">
    <div class="filter">
        <div class="wrapper">
            <div class="search_filter">
                <div class="search_wrap">
                    <input type="text" id="filter_by_input" placeholder="输入区域或小区名称开始找房">
                    <button onclick="filter_content()"></button>
                </div>
                <script type="text/javascript">
                    function filter_content() {
                        // 用于处理用户输入的内容
                        var base_url = "{{ request.base_url }}"
                        var request_url = "/house/list"
                        var user_input = document.getElementById("filter_by_input").value
                        if (user_input) {
                            {#request_url = base_url + "?param=" + encodeURIComponent(user_input) + "&"#}
                            request_url = "/house/list?{{ query_params|remove_param:'param' }}&param=" + user_input
                        }

                        // 发送请求
                        fetch(request_url)
                            .then(function (response) {
                                return response.text()
                            })
                            .then(function () {
                                window.location = request_url
                            })
                    }
                </script>
                <ul class="filer_ul by_city">
                    <li class="filter_type">按区域</li>
                    <br>
                    <li {% if not request.GET.city and not request.GET.district %}class="strong"{% endif %}>
                        <a href="/house/list?{{ query_params|remove_city }}">不限</a>
                    </li>

                    {% for city in city_list %}
                        <li {% if request.GET.city == city %}class="strong"{% endif %}><a
                                href="/house/list?{{ query_params|remove_city }}&city={{ city }}">{{ city }}</a>
                        </li>
                    {% endfor %}

                </ul>
                <ul class="filer_ul by_district">
                    {% if sub_districts|length > 0 %}
                        <li {% if request.GET.district == "" or not request.GET.district %}class="strong"{% endif %}><a
                                href="/house/list?{{ query_params|remove_param:'district' }}">不限</a></li>
                        {% for district in sub_districts %}
                            <li {% if request.GET.district == district %}class="strong"{% endif %}><a
                                    href="/house/list?{{ query_params|remove_param:'district' }}&district={{ district }}">{{ district }}</a>
                            </li>
                        {% endfor %}
                    {% endif %}
                </ul>
                <ul class="filer_ul by_rent_type">
                    <li class="filter_type">按方式</li>
                    <br>
                    <li {% if not request.GET.rent_type %}class="strong"{% endif %}><a
                            href="/house/list?{{ query_params|remove_param:'rent_type' }}">不限</a></li>
                    {% for rent_type in rent_type_list %}
                        <li {% if request.GET.rent_type == rent_type %}class="strong"{% endif %}><a
                                {# 删除之前的rent_type参数, 然后添加新的rent_type参数 #}
                                href="/house/list?{{ query_params|remove_param:'rent_type' }}&rent_type={{ rent_type }}">{{ rent_type }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="filer_ul by_rooms">
                    <li class="filter_type">按户型</li>
                    <br>
                    <li {% if not request.GET.rooms %}class="strong"{% endif %}><a
                            href="/house/list?{{ query_params|remove_param:'rooms' }}">不限</a></li>
                    {% for rooms in rooms_list %}
                        <li {% if request.GET.rooms == rooms %}class="strong"{% endif %}><a
                                href="/house/list?{{ query_params|remove_param:'rooms' }}&rooms={{ rooms }}">{{ rooms }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="filer_ul by_direction">
                    <li class="filter_type">按朝向</li>
                    <br>
                    <li {% if not request.GET.direction %}class="strong"{% endif %}><a
                            href="/house/list?{{ query_params|remove_param:'direction' }}">不限</a></li>
                    {% for direction in direction_list %}
                        <li {% if request.GET.direction == direction %}class="strong"{% endif %}><a
                                href="/house/list?{{ query_params|remove_param:'direction' }}&direction={{ direction }}">{{ direction }}</a>
                        </li>
                    {% endfor %}
                </ul>
                <ul class="filer_ul by_price">
                    <li class="filter_type">按价格</li>
                    <br>
                    <li {% if not request.GET.price %}class="strong"{% endif %}><a
                            href="/house/list?{{ query_params|remove_param:'price' }}">不限</a></li>
                    {% for price in price_list %}
                        <li {% if request.GET.price == price %}class="strong"{% endif %}><a
                                href="/house/list?{{ query_params|remove_param:'price' }}&price={{ price }}">{{ price }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="wrapper">
        <div class="houses">
            <p class="list_title">当前共有<span>{{ all_count }}</span>套{{ args_city }}{{ args_district }}房源<a
                    class="clear_filter" href="/house/list">清空条件</a>
            </p>
            {% if data_list %}
                {% for item in data_list %}
                    <div class="house_info">
                        <div class="cover"><img src="{{ item.img_src }}" alt=""></div>
                        <div class="general_info">
                            <p class="info_title"><a
                                    href="https://{{ item.city_id|trans_city }}.lianjia.com/zufang/{{ item.id }}.html">{{ item.title }}</a>
                            </p>
                            <p class="info_des">
                                <a href="">{{ item.city_id }}</a>
                                -
                                <a href="">{{ item.district_id }}</a>
                                -
                                <a href="">{{ item.village_name }}</a>
                                <i>/</i>
                                {{ item.area }}
                                <i>/</i>
                                {{ item.direction }}
                                <i>/</i>
                                {{ item.rooms }}
                            </p>
                            <p class="info_facility">
                                {% for facility in item.facilities|deal_facility %}
                                    <span>{{ facility }}</span>
                                {% endfor %}
                            </p>
                            <p class="info_floor">
                                {{ item.floor_type }}-{{ item.floor_num }}楼<i>/</i>{{ item.rent_type }}
                            </p>
                            <p class="info_price">
                                <span class="price">{{ item.price }}</span>&nbsp;&nbsp;元/每月
                            </p>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        <nav>
            <ul class="pagination">
                {{ pager.page_html|safe }}
            </ul>
        </nav>
    </div>
</div>
<div class="footer">
    <div class="wrapper">
        <ul>
            <li>北京链家简介</li>
            <li>联系我们</li>
            <li>加入我们</li>
            <li>隐私声明</li>
            <li>网站地图</li>
        </ul>
    </div>
</div>
<div id="back_to_top" style="display: none"><img src="{% static 'imgs/to-top.png' %}" alt="">&nbsp;返回顶部</div>
</body>

</html>
